<div class="container">
  <nav class="modal-header navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="employees">Employee Mamagement App</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="employees" routerLinkActive="active" class="btn btn-warning btn-sm" style="margin-left: 220px">Employee List</a>
      </li>
      <li class="nav-item active">
        <a routerLink="add" routerLinkActive="active" class="btn btn btn-success btn-sm" style="margin-left: 10px"><span class="glyphicon" style="margin-right: 5px;">&#x2b;</span>Create Employee</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

<div class="container modal-body">
  <div class="card">
    <div class="card-body ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>